<!DOCTYPE html>
<html>

<% include include/head %>

    <body>

        <% include include/navpopup %>
            <div class="container text-center">
                <h4>Bienvenue sur votre profil
                    <%= nomMembre %>
                </h4>
            </div>

            <div class="container">
                <div class="row">
                    <% produit.forEach(function(prod) { %>
                        <div class="col">
                            <img src="../../public/images/bluering.jpg">
                            <div class="col">
                                <label><strong>Texte:</strong>
                                    <%= prod['texte'] %>
                                </label>
                                <label><strong>Taille:</strong>
                                    <%= prod['taille'] %>
                                </label>
                                <label><strong>Font:</strong>
                                    <%= prod['nom_font'] %>
                                </label>
                                <label><strong>Matériel:</strong>
                                    <%= prod['nom_materiel'] %></label>
                                <label><strong>Finition:</strong>
                                    <%= prod['nom_finition'] %></label>
                            </div>
                        </div>

                        <% }); %>
                </div>
            </div>
            <% include include/foot %>

    </body>



</html>